<ion-view ng-controller="bus_service_1" view-title="租车" can-swipe-back="" cache-view="" hide-back-button="" hide-nav-bar="">

    <ion-content>

            <!-- <div class="bar bar-header bar-light">
                <h1 class="title">填写申请</h1>
            </div> -->

            <div class="has-header padding-top">

                <!-- 地点选择 -->
                <!-- <div class="list" style="margin-top: 10%;margin-bottom:5%;background-color: #fff;border-top-style: solid;border-top-width:1px;border-top-color: #d8d8d8;border-bottom-style: solid;border-bottom-width: 1px;border-bottom-color:#d8d8d8;">

                    <label class=" item-input " style="padding:12px 0;margin-left:20px;"  ng-click="selectLocation('startLocation',true)">
                        <i class="icon ion-record balanced padding-right"></i>
                        <input style="font-size: 16px;" type="text"  ng-model="startLocation"  placeholder="出发地">
					</label>

                    <label class="item-input" style="padding:12px 0;margin-left:20px;" ng-click="selectLocation('endLocation',false)">
                        <i class="icon ion-record assertive padding-right"></i>
                        <input style="font-size: 16px;" type="text" ng-model="endLocation"  placeholder="目的地">
                    </label>

				</div> -->

				<div class="list card">

						<div class="item item-avatar" style="height: 150px; padding: 0; padding-top: 85px; text-align: center;">
							<img  src="/spatest/images/avtar.png" style="top: 10px; left: 50%; margin-left: -30px; width: 100%; max-width: 60px; max-height: 60px; width: 100%; height: 100%; border-radius: 50%;">
							<h2>租车</h2>
						</div>

						<div class="item item-avatar">
							<img src="mcfly.jpg">
							<i class="icon ion-record balanced padding-right"></i>
							<h2>取车地点</h2>
							<p ng-click="selectLocation('startLocation',true)">A</p>
						</div>

						<div class="item item-avatar">
							<img src="mcfly.jpg">
                        	<i class="icon ion-record assertive padding-right"></i>
							<h2>还车地点</h2>
							<p ng-click="selectLocation('endLocation',false)">B</p>
						</div>

						<a class="item item-icon-left">
							<i class="icon ion-ios-gear" style="font-size: 23px;"></i>
							<i class="icon ion-ios-circle-filled" ng-if="true" style="font-size: 10px; position: absolute; top: -11px; left: 26px;  color: #e42112;"></i>
							<button  class="button button-block button-positive button-balanced" ng-click="gotobusservice3(startLocation,endLocation,charterStartTime,charterEndTime,charterCount,charterType,checked)">
									下一步
							</button>
						</a>

				</div>

                <!-- 类型选择 -->
                <!-- <div style="margin-left: 12px;margin-right: 12px;">

                    <ion-tabs class="selectedtabs tabs-striped tabs-top" >

                        <ion-tab title="单程" on-select="onTabSelected(1)">
                            <ion-pane class="bus-pane" >
                                <div class="list list-inset" >
                                    <div class=" label-rightleft-border  gray f14">
                                        <a  style="background-color: #fff;border-radius: 0px;font-size: 16px;padding-top: 17px; padding-bottom: 17px;" class="item label-border label-rightleft-border" title="onewayformdata.StartTime" only-valid="{'after': 'today', 'inclusive': true}" ion-datetime-picker monday-first ng-model="onewayformdata.charterStartTime" ng-change="sessionStorageDate()">
                                            出发时间
                                            <span class="item-note"> {{onewayformdata.charterStartTime| date:"yyyy-MM-dd HH:mm"}} <i class="icon ion-chevron-right padding-left"></i></span>
                                        </a>
                                        <a style="border-radius: 0px;font-size: 16px;padding-top: 17px; padding-bottom: 17px;" class="item  label-rightleft-border" title="onewayformdata.EndTime" only-valid="{'after': 'today', 'inclusive': true}"    ion-datetime-picker monday-first  ng-model="onewayformdata.charterEndTime" ng-change="sessionStorageDate2()">
                                            结束时间
                                            <span class="item-note" >{{onewayformdata.charterEndTime| date:"yyyy-MM-dd HH:mm"}} <i class="icon ion-chevron-right padding-left"></i></span>
                                        </a>
                                    </div>
                                    <label style="color: #777777;font-size: 16px;padding-top: 17px; padding-bottom: 17px;" class="item item-input label-rightleft-border label-bottom-border">
                                        乘车人数  <input style="text-align: right;" type="tel" ng-model="onewayformdata.charterCount" placeholder="请填写乘车人数" ng-change="sessionStoragePerson1()">
                                    </label>
                                </div>
                            </ion-pane>
                        </ion-tab>

                        <ion-tab title="往返" on-select="onTabSelected(2)">
                            <ion-pane class="bus-pane">
                                <div class="list list-inset">
                                    <div class=" label-rightleft-border  gray f14">
                                        <a style="border-radius: 0px;font-size: 16px;padding-top: 17px; padding-bottom: 17px;" class="item label-border label-rightleft-border" title="backformdata.StartTime" only-valid="{'after': 'today', 'inclusive': true}"   ion-datetime-picker  monday-first  ng-model="backformdata.charterStartTime" ng-change="sessionStorageDate3()">
                                            出发时间
                                            <span class="item-note"> {{backformdata.charterStartTime| date:"yyyy-MM-dd HH:mm"}} <i class="icon ion-chevron-right padding-left"></i></span>
                                        </a>
                                        <a style="border-radius: 0px;font-size: 16px;padding-top: 17px; padding-bottom: 17px;" class="item  label-rightleft-border" title="onewayformdata.EndTime" only-valid="{'after': 'today', 'inclusive': true}"    ion-datetime-picker  monday-first  ng-model="backformdata.charterEndTime" ng-change="sessionStorageDate4()">
                                            结束时间
                                            <span class="item-note" >{{backformdata.charterEndTime| date:"yyyy-MM-dd HH:mm"}} <i class="icon ion-chevron-right padding-left"></i></span>
                                        </a>
                                    </div>
                                    <label style="color: #777777;font-size: 16px;padding-top: 17px; padding-bottom: 17px;" class="item item-input label-rightleft-border label-bottom-border">
                                        乘车人数 <input style="text-align: right;" type="tel" ng-model="backformdata.charterCount" placeholder="请填写乘车人数" ng-change="sessionStoragePerson2()">
                                    </label>
                                </div>
                            </ion-pane>
						</ion-tab>

                        <ion-tab title="包天" on-select="onTabSelected(3)">
                            <ion-pane class="bus-pane">
                                <div class="list list-inset">
                                    <div class=" label-rightleft-border  gray f14">
                                        <a  style="border-radius: 0px;font-size: 16px;padding-top: 17px; padding-bottom: 17px;" class="item label-border label-rightleft-border" title="thenerveformadata.StartTime" only-valid="{'after': 'today', 'inclusive': true}"   ion-datetime-picker only-valid monday-first   ng-model="thenerveformadata.charterStartTime" ng-change="sessionStorageDate5()">
                                            出发时间
                                            <span class="item-note"> {{thenerveformadata.charterStartTime| date:"yyyy-MM-dd HH:mm"}} <i class="icon ion-chevron-right padding-left"></i></span>
                                        </a>
                                        <a style="border-radius: 0px;font-size: 16px;padding-top: 17px; padding-bottom: 17px;" class="item  label-rightleft-border" title="onewayformdata.EndTime" only-valid="{'after': 'today', 'inclusive': true}"    ion-datetime-picker monday-first  ng-model="thenerveformadata.charterEndTime" ng-change="sessionStorageDate6()">
                                            结束时间
                                            <span class="item-note" >{{thenerveformadata.charterEndTime| date:"yyyy-MM-dd HH:mm"}} <i class="icon ion-chevron-right padding-left"></i></span>
                                        </a>
                                    </div>
                                    <label style="color: #777777;font-size: 16px;padding-top: 17px; padding-bottom: 17px;" class="item item-input label-rightleft-border label-bottom-border">
                                        乘车人数 <input style="text-align: right;" type="tel" ng-model="thenerveformadata.charterCount" placeholder="请填写乘车人数" ng-change="sessionStoragePerson3()">
                                    </label>
                                </div>
                            </ion-pane>
                        </ion-tab>

					</ion-tabs>

				</div> -->

				<!-- 导航栏 -->
				<!-- <div class="tabs" style="margin-top: 45px; background-image: none;">
					<a class="tab-item"  style="color:black;border: none;" ng-class="{'active':focusIndex==0}" href="javascript:;" ng-click="focus(0)">
						<i class="icon ion-android-bus" style="color:black"></i>
						单程
					</a>
					<a class="tab-item"  style="color:black;border: none;" ng-class="{'active':focusIndex==1}" href="javascript:;" ng-click="focus(1)">
						<i class="icon ion-star"  style="color:black"></i>
						往返
					</a>
				</div> -->

                <!-- 司机 -->
                <!-- <div class="checked">
                    <ion-list >
                        <ion-checkbox  ng-model="ioncheck.checked" ><span style="font-size: 14px;">需要司机</span></ion-checkbox>
                    </ion-list>

                </div> -->

            </div>

    </ion-content>

    <!-- 提交按钮 -->
    <!-- <div class="bar bar-footer">
        <button  class="button button-block button-positive button-balanced" ng-click="gotobusservice3(startLocation,endLocation,charterStartTime,charterEndTime,charterCount,charterType,checked)">
            下一步
        </button>
    </div> -->

</ion-view>
