<ui-view ng-controller="admission_ticket_detail">
        
    <div class="jqztc-order-detail">

        <ion-content has-tabs="true">

                    <!-- 1  -->
                    <div class="notice2" style="text-align: center">
                        <p>提示：超时或已验票后，无法退款。</p>
                    </div>
                     
                    <!-- 门票详情展示 -->
                    <!-- 未使用 2 -->
                    <div ng-if="ticketViewInfo.ticketStatus == 2">

                        <ion-list>
                            <ion-item style="padding: 0;">
    
                                <div class="detail">
    
                                        <div class="row startposition">
                                                <div class="col">
                                                    <span class="station-mark-blue" style="margin-left: 10px;">门票</span>
                                                    <span class="station-address">{{ticketViewInfo.viewName}}</span>
                                                </div>
                                        </div>
                                        
                                        <div class="row info " style="padding-left: 8px;">
                                                
                                            <div class="col" style="margin-left: 11px;">
    
                                                <span>
                                                    有效期：{{ticketViewInfo.useDate | date:'yyyy-MM-dd'}}
                                                </span>    
    
                                            </div>
    
                                        </div>
    
                                        <div class="row refund">

                                                <div class="col col-70">
                                                    <div style="margin: 0 0 8px 9px;white-space: normal;" >景点地点: {{ticketViewInfo.viewaddr}}</div>
                                                </div>

                                        </div>
                                        
                                        <div class="row" >

                                            <div class="col col-33" style="color: #a2a2a2;">
                                                    <span style="margin-left: 9px;">{{ticketViewInfo.viewPriceType}}</span>
                                            </div>

                                            <div class="col col-66" style="text-align: right;">
                                                <button ng-if="!isCheckedTicket" ng-disabled="refundBtnState" class="button" style="line-height: 2;margin-right: 5px;font-size: 17px;color: #040404;border: 1px solid #a2a2a2;background: white;min-width:0;min-height: 0;height: 40px;width: 70px;border-radius: 3px;" ng-click="refund()">
                                                    退款
                                                </button>
                                            </div>

                                        </div> 
                                </div>
                                
                            </ion-item>
                        </ion-list>
    
                        <div style="text-align: center;">
    
                            <div class="row">
                                <div class="col">
                                    <i class="icon ion-ios-information-outline" style="color: #F90002;font-size: 22px;"></i>
                                    <span class="btnfont11" ng-if="!isCheckedTicket">已付款<span style="color: #F90002">未认证</span></span>
                                    <span class="btnfont11" ng-if="isCheckedTicket"><span style="color: #F90002">已验票</span></span>
                                </div>
                            </div>
    
                            <div class="row" ng-if="!isCheckedTicket">
                                <div class="col">
                                    <span class="btnfont11">入场请出示条形码!</span>
                                </div>
                            </div>
    
                            <div class="row" ng-if="!isCheckedTicket">
                                <div class="col">
                                    <canvas ng-model="ticketViewInfo.ticketCode" barcode></canvas>
                                </div>
                            </div>
                            
                        </div>

                    </div>

                    <!-- 已使用 3 -->
                    <div ng-if="ticketViewInfo.ticketStatus == 3">
                            
                        <ion-list>
                            <ion-item style="padding: 0;">
    
                                <div class="detail">
    
                                        <div class="row startposition">
                                                <div class="col">
                                                    <span class="station-mark-blue" style="margin-left: 10px;">门票</span>
                                                    <span class="station-address">{{ticketViewInfo.viewName}}</span>
                                                </div>
                                        </div>
                                        
                                        <div class="row info " style="padding-left: 8px;">
                                                
                                            <div class="col" style="margin-left: 11px;">
    
                                                <span>
                                                    有效期：{{ticketViewInfo.useDate | date:'yyyy-MM-dd'}}
                                                </span>    
    
                                            </div>
    
                                        </div>
    
                                        <div class="row refund">

                                                <div class="col col-70">
                                                    <div style="margin: 0 0 8px 9px;white-space: normal;" >景点地点: {{ticketViewInfo.viewaddr}}</div>
                                                </div>

                                        </div>
                                        
                                        <div class="row" >

                                            <div class="col col-33" style="color: #a2a2a2;">
                                                    <span style="margin-left: 9px;">{{ticketViewInfo.viewPriceType}}</span>
                                            </div>

                                            <div class="col col-66" style="text-align: right;">
                                                <button class="button" style="line-height: 2;margin-right: 5px;font-size: 17px;color: #040404;border: 1px solid #a2a2a2;background: white;min-width:0;min-height: 0;height: 40px;width: 70px;border-radius: 3px;">
                                                    已使用
                                                </button>
                                            </div>

                                        </div> 
                                </div>
                                
                            </ion-item>
                        </ion-list>
                                                
                    </div>

                    <!-- 退款中 4 -->
                    <div ng-if="ticketViewInfo.ticketStatus == 4">
                         
                        <ion-list>
                            <ion-item style="padding: 0;">
    
                                <div class="detail">
    
                                        <div class="row startposition">
                                                <div class="col">
                                                    <span class="station-mark-blue" style="margin-left: 10px;">门票</span>
                                                    <span class="station-address">{{ticketViewInfo.viewName}}</span>
                                                </div>
                                        </div>
                                        
                                        <div class="row info " style="padding-left: 8px;">
                                                
                                            <div class="col" style="margin-left: 11px;">
    
                                                <span>
                                                    有效期：{{ticketViewInfo.useDate | date:'yyyy-MM-dd'}}
                                                </span>    
    
                                            </div>
    
                                        </div>
    
                                        <div class="row refund">

                                                <div class="col col-70">
                                                    <div style="margin: 0 0 8px 9px;white-space: normal;" >景点地点: {{ticketViewInfo.viewaddr}}</div>
                                                </div>

                                        </div>
                                        
                                        <div class="row" >

                                            <div class="col col-33" style="color: #a2a2a2;">
                                                    <span style="margin-left: 9px;">{{ticketViewInfo.viewPriceType}}</span>
                                            </div>

                                            <div class="col col-66" style="text-align: right;">
                                                <button class="button" style="line-height: 2;margin-right: 5px;font-size: 17px;color: #040404;border: 1px solid #a2a2a2;background: white;min-width:0;min-height: 0;height: 40px;width: 70px;border-radius: 3px;">
                                                    退款中
                                                </button>
                                            </div>

                                        </div> 
                                </div>
                                
                            </ion-item>
                        </ion-list>
                                                
                            
                    </div>

                    <!-- 已退款 5 -->
                    <div ng-if="ticketViewInfo.ticketStatus == 5">
                           
                        <ion-list>
                            <ion-item style="padding: 0;">
    
                                <div class="detail">
    
                                        <div class="row startposition">
                                                <div class="col">
                                                    <span class="station-mark-blue" style="margin-left: 10px;">门票</span>
                                                    <span class="station-address">{{ticketViewInfo.viewName}}</span>
                                                </div>
                                        </div>
                                        
                                        <div class="row info " style="padding-left: 8px;">
                                                
                                            <div class="col" style="margin-left: 11px;">
    
                                                <span>
                                                    有效期：{{ticketViewInfo.useDate | date:'yyyy-MM-dd'}}
                                                </span>    
    
                                            </div>
    
                                        </div>
    
                                        <div class="row refund">

                                                <div class="col col-70">
                                                    <div style="margin: 0 0 8px 9px;white-space: normal;" >景点地点: {{ticketViewInfo.viewaddr}}</div>
                                                </div>

                                        </div>
                                        
                                        <div class="row" >

                                            <div class="col col-33" style="color: #a2a2a2;">
                                                    <span style="margin-left: 9px;">{{ticketViewInfo.viewPriceType}}</span>
                                            </div>

                                            <div class="col col-66" style="text-align: right;">
                                                <button class="button" style="line-height: 2;margin-right: 5px;font-size: 17px;color: #040404;border: 1px solid #a2a2a2;background: white;min-width:0;min-height: 0;height: 40px;width: 70px;border-radius: 3px;">
                                                    已退款
                                                </button>
                                            </div>

                                        </div> 
                                </div>
                                
                            </ion-item>
                        </ion-list>
                                                
                    </div>

        </ion-content>

    </div>

</ui-view>