<ui-view>
<div ng-controller="test">

    <style>
        ._720kb-datepicker-calendar-day._720kb-datepicker-today {
            background:red;
            color:white;
        }
    </style>


    <div class="jqztc-order-detail">

        <ion-content has-tabs="true">

            <!-- 1  -->
            <div class="notice2" >
                <p>* 订单开始前12小时无法退订，退款将在15个工作日内到账，请谨慎操作。</p>
                <p>* 更多已购信息请在<span style="color:#47bd4c">我的行程</span>中查看。</p>
            </div>
            <h1>
                Hello
            </h1>
            
            <button class="button button-block button-positive" ng-click="openDatePickerOne()">openDatePickerOne</button>
            <button class="button button-block button-positive" ng-click="openDatePickerTwo()">openDatePickerTwo</button>

        </ion-content>
    </div>
</div>
    
</ui-view>