<ion-view ng-controller="Tabs" view-title="购票" can-swipe-back="" cache-view="" hide-back-button="" hide-nav-bar="">

    <style>
            .spinner svg {
                stroke: #ddd;
                fill: #ddd;
            }

            .jqztc-tabs  .tabs {
                border-color: white;
                background-color: white;
                /* color: #9E9E9E; */
                position: fixed;
                /* top: 32px; */
            }

            .jqztc-tabs .notice {
                background: #ffd63e;
                color: #444;
                font-size: 13px;
                line-height: 26px;
                width: 100%;
                white-space: normal;
            }

            .jqztc-tabs .pl {
                padding-top: 0;
                padding-bottom: 0;
                /* margin-top: 32px; */
            }

            .jqztc-tabs .xz {
                padding: 20px;
                color: #4c4848;
                font-size: 16px;
                font-weight: 500;
                /* margin-top: 32px; */
            }

            .has-tabs-top {
                top: 154px;
            }

            .jqztc-tabs .lx ion-item {
                margin-bottom: 15px;
                padding: 0;
                border: 0;
                box-shadow: #b2b2b2 0 2px 3px -1px;
            }

    </style>

    <div class="jqztc-tabs">

        <div class="tabs-top tabs-icon-left tabs-background-positive tabs-color-light">

            <!-- 导航栏 -->
            <div class="tabs" style="margin-top: 45px; background-image: none;">
                <a class="tab-item"  style="color:black;border: none;" ng-class="{'active':focusIndex==0}" href="javascript:;" ng-click="focus(0)">
                    <i class="icon ion-android-bus" style="color:black"></i>
                    路线
                </a>
                <a class="tab-item"  style="color:black;border: none;" ng-class="{'active':focusIndex==1}" href="javascript:;" ng-click="focus(1)">
                    <i class="icon ion-star"  style="color:black"></i>
                    点评
                </a>
            </div>

            <!-- 内容区 -->
            <div class="pages">

                <div class="page" style="margin-top: 85px;" ng-if="focusIndex==0">

                    <div style="position: fixed; top: 92px; left: 0; width: 100%; white-space: normal; border-bottom: 1px solid #e8e7e7;">

                        <div class="notice">
                                <p style="margin-left: 5px;">
                                    <i class="icon ion-ios-information" style="color:crimson;font-size: 14px;"></i>
                                    如行程有变，请于发车前1小时以上，申请退款，超时或验票后不能退款。
                                </p>
                        </div>

                        <div style="display: block; height: 44px; text-align: center; color: #3D3E3F; width: 100%; background: #ffd63e;">

                            <div class="row" style="font-size: 14px;">

                                <div class="col col-30" ng-click="prevDay()" style="text-align: left;">

                                    <i class="icon ion-ios-arrow-left" style="margin-left: 10px;"></i>

                                    <span style="display: inline-block;margin-left: 15px;">前一天</span>
                                </div>

                                <div class="col col-40" ng-click="selectDay()" style="background: #f8f8f8; border-radius: 4px; padding: 5px; text-align: center; ">
                                    <span>{{currentSelectedDate}} {{currentSelectedDate2}}</span>
                                </div>

                                <div class="col col-30" ng-click="nextDay()" style="text-align:right;">
                                    <span style="display: inline-block;/* margin: 0 15px; */margin-right: 15px;">后一天</span>
                                    <i class="icon ion-ios-arrow-right" style="margin-right: 10px;"></i>
                                </div>

                            </div>

                        </div>

                    </div>

                    <ion-content class="has-header lx" style="background: #f9f9f9;margin-top: 147px;" has-tabs="true">

                        <!-- <ion-refresher pulling-text="下拉刷新" pulling-icon="ion-ios-arrow-thin-down" on-refresh="doRefreshRoad()" spinner="dots" ></ion-refresher> -->

                        <!-- 接口 车票显示  -->
                        <ion-list>

                            <!-- 接口 数据 -->

                            <!-- 接口 数据 图片推荐 -->
                            <div ng-if="sourceComeType">

                                <!-- 有车票时 -->
                                <div ng-if="ticketsInfo1.plans != null">

                                    <ion-item style="padding: 5px 0;">

                                        <div  ng-click="purchase(ticketsInfo1, i)">

                                                <div class="row">

                                                    <div class="col" style="white-space: normal;">
                                                            <span style="margin-left: 10px;">
                                                                    <div class="btnfont" my-tag my-tags="ticketsInfo1_prodcutType2"></div>
                                                            </span>

                                                            <span style="font-size: 17px;" class="btnfont4" ng-if="ticketsInfo1.plans[0].bdidType == 0">{{ticketsInfo1.plans[0].departtime}}</span>
                                                            <span style="font-size: 17px;" class="btnfont4" ng-if="ticketsInfo1.plans[0].bdidType != 0">{{ticketsInfo1.plans[0].departtime}}-{{ticketsInfo1.plans[1].departtime}}</span>

                                                            <span class="btnfont5" ng-if="ticketsInfo1.leftTickets != 0"> 单程约{{ticketsInfo1_driveTime}}分钟 <span>•</span> 剩<span class="btnfont2">{{ticketsInfo1.leftTickets}}</span>座/{{ticketsInfo1.totalTickets}}座</span>
                                                            <span class="btnfont5" ng-if="ticketsInfo1.leftTickets == 0"> 单程约{{ticketsInfo1_driveTime}}分钟</span>
                                                    </div>

                                                </div>

                                                <div class="row startposition">
                                                        <div class="col">
                                                            <span class="station-address">{{ticketsInfo1_station[0]}}</span>
                                                            <span class="station-arrow" ng-if="ticketsInfo1.plans[0].bdidType == 0"></span>
                                                            <span class="station-arrow2" ng-if="ticketsInfo1.plans[0].bdidType != 0"></span>
                                                            <span class="station-address2">{{ticketsInfo1_station[1]}}</span>
                                                        </div>
                                                </div>

                                                <div class="row purchase">

                                                    <div class="col col-75">

                                                            <div ng-if="ticketsInfo1.plans[0].bdidType == 0">
                                                                <div style="margin: 0 0 8px 11px;white-space: normal;" >发车地点: {{ticketsInfo1_departAddr}}</div>
                                                            </div>

                                                            <div ng-if="ticketsInfo1.plans[0].bdidType != 0">
                                                                <div style="margin: 0 0 8px 11px;white-space: normal;" >发车地点: {{ticketsInfo1_departAddr}}</div>
                                                                <div style="margin: 0 0 8px 11px;white-space: normal;" >返程地点: {{ticketsInfo1_arriveAddr}}</div>
                                                            </div>

                                                    </div>

                                                    <div class="col col-bottom" style="    text-align: right;margin-right: 5px;">
                                                            <div style="    text-align: right;">
                                                                <span style="color: #FC6E2B;font-size: 13px;">￥</span><span style="color: #FC6E2B;font-size: 23px;">{{ticketsInfo1.productPrice}}</span>
                                                            </div>
                                                    </div>

                                                </div>
                                        </div>

                                    </ion-item>

                                </div>

                                <!-- 无车票时 -->
                                <div ng-if="ticketsInfo1.plans == null">

                                    <!-- 有门票时 -->
                                    <div ng-if="ticketsInfo1.viewInfo != null">

                                        <ion-item >

                                            <div ng-click="purchase(ticketsInfo1, i)">

                                                <div class="row">

                                                    <div class="col" style="white-space: normal;">
                                                            <span style="margin-left: 10px;">
                                                                    <div class="btnfont btnfontblue">门票</div>
                                                            </span>

                                                            <span>有效时间：</span><span style="font-size: 17px;">{{currentSelectedDate}}</span>

                                                    </div>

                                                </div>

                                                <div class="row startposition">
                                                        <div class="col">
                                                            <span class="station-address">{{ticketsInfo1.viewInfo.viewName}}</span>
                                                        </div>
                                                </div>

                                                <div class="row purchase">

                                                    <div class="col col-75">
                                                        <div style="margin: 0 0 8px 10px;white-space: normal;" >景点地址：{{ticketsInfo1.viewInfo.viewaddr}}</div>
                                                    </div>

                                                    <div class="col col-center" style="    text-align: right;margin-right: 5px;">
                                                            <div>
                                                                <span style="color: #FC6E2B;font-size: 13px;">￥</span><span style="color: #FC6E2B;font-size: 23px;">{{ticketsInfo1.viewInfo.viewPrices[0].couponPrice}}</span>
                                                            </div>
                                                    </div>

                                                </div>

                                            </div>

                                        </ion-item>

                                    </div>

                                    <!-- 无门票时 -->
                                    <!-- <div ng-if="ticketsInfo1.viewInfo == null">
                                        <div style="text-align: center;margin: 8px;">
                                            <i class="icon ion-ios-information-outline" style="color:crimson;font-size: 14px;"></i>
                                            加载中( ¯ □ ¯ )......
                                        </div>
                                    </div> -->

                                </div>

                            </div>

                            <!-- 接口 数据 手动搜索-->
                            <div ng-if="!sourceComeType">

                                    <ion-item ng-repeat="item in ticketsInfo2 track by $index" style="padding: 5px 0;">

                                        <!-- 有车票时 -->
                                        <div ng-if="item.plans != null" ng-click="purchase(item, i)">

                                                <div class="row">

                                                    <div class="col" style="white-space: normal;">
                                                            <span style="margin-left: 10px;">
                                                                    <div class="btnfont" my-tag my-tags="item.productType"></div>
                                                            </span>

                                                            <span style="font-size: 17px;" class="btnfont4" ng-if="item.plans[0].bdidType == 0">{{item.plans[0].departtime}}</span>
                                                            <span style="font-size: 17px;" class="btnfont4" ng-if="item.plans[0].bdidType != 0">{{item.plans[0].departtime}}-{{item.plans[1].departtime}}</span>

                                                            <span class="btnfont5" ng-if="item.leftTickets != 0"> 单程约{{item.plans[0].drivetime}}分钟 <span>•</span> 剩<span class="btnfont2">{{item.leftTickets}}</span>座/{{item.totalTickets}}座</span>
                                                            <span class="btnfont5" ng-if="item.leftTickets == 0"> 单程约{{item.plans[0].drivetime}}分钟</span>
                                                    </div>

                                                </div>

                                                <div class="row startposition">
                                                        <div class="col">
                                                            <span class="station-address">{{item.plans[0].departName}}</span>
                                                            <span class="station-arrow" ng-if="item.plans[0].bdidType == 0"></span>
                                                            <span class="station-arrow2" ng-if="item.plans[0].bdidType != 0"></span>
                                                            <span class="station-address2">{{item.plans[0].arriveName}}</span>
                                                        </div>
                                                </div>

                                                <div class="row purchase">
                                                    <div class="col col-75">
                                                            <div ng-if="item.plans[0].bdidType == 0">
                                                                <div style="margin: 0 0 8px 11px;white-space: normal;" >发车地点: {{item.plans[0].departaddr}}</div>
                                                            </div>

                                                            <div ng-if="item.plans[0].bdidType != 0">
                                                                <div style="margin: 0 0 8px 11px;white-space: normal;" >发车地点: {{item.plans[0].departaddr}}</div>
                                                                <div style="margin: 0 0 8px 11px;white-space: normal;" >返程地点: {{item.plans[1].departaddr}}</div>
                                                            </div>
                                                    </div>

                                                    <div class="col col-bottom" style="    text-align: right;margin-right: 5px;">
                                                            <div style="    text-align: right;">
                                                                <span style="color: #FC6E2B;font-size: 13px;">￥</span><span style="color: #FC6E2B;font-size: 23px;">{{item.productPrice}}</span>
                                                            </div>
                                                    </div>
                                                </div>
                                        </div>

                                        <!-- 没车票时 -->
                                        <div ng-if="item.plans == null">

                                            <!-- 有门票时 -->
                                            <div ng-if="item.viewInfo != null" ng-click="purchase(item, i)">

                                                <div class="row">

                                                    <div class="col" style="white-space: normal;">
                                                            <span style="margin-left: 10px;">
                                                                    <div class="btnfont btnfontblue">门票</div>
                                                            </span>

                                                            <span>有效时间：</span><span style="font-size: 17px;">{{currentSelectedDate}}</span>

                                                    </div>

                                                </div>

                                                <div class="row startposition">
                                                        <div class="col">
                                                            <span class="station-address">{{item.viewInfo.viewName}}</span>
                                                        </div>
                                                </div>

                                                <div class="row purchase">

                                                    <div class="col col-75">
                                                        <div style="margin: 0 0 8px 10px;white-space: normal;" >景点地址：{{item.viewInfo.viewaddr}}</div>
                                                    </div>

                                                    <div class="col col-center" style="    text-align: right;margin-right: 5px;">
                                                            <div>
                                                                <span style="color: #FC6E2B;font-size: 13px;">￥</span><span style="color: #FC6E2B;font-size: 23px;">{{item.viewInfo.viewPrices[0].couponPrice}}</span>
                                                            </div>
                                                    </div>

                                                </div>

                                            </div>

                                            <!-- 无门票时 -->
                                            <!-- <div ng-if="item.viewInfo == null">

                                                <div style="text-align: center;margin: 8px;">
                                                    <i class="icon ion-ios-information-outline" style="color:crimson;font-size: 14px;"></i>
                                                    加载中( ¯ □ ¯ )......
                                                </div>

                                            </div> -->

                                        </div>

                                    </ion-item>

                            </div>

                        </ion-list>

                    </ion-content>

                </div>

                <div class="page" style="margin-top: 139px;" ng-if="focusIndex==1">

                        <ion-content class="has-header" style="top: 92px;">

                                <ion-refresher pulling-text="下拉刷新" pulling-icon="ion-ios-arrow-thin-down" on-refresh="doRefreshComment()" spinner="dots"></ion-refresher>

                                <div class="pl">
                                    <!-- 接口 评论显示  -->
                                    <ion-list>

                                        <ion-item ng-repeat="item in commentsInfo track by $index">
                                            <div class="row comment">
                                                <div class="col" style="white-space: normal;">{{item.orderhie}}</div>
                                            </div>
                                            <div class="row picture" >
                                                <div class="col col-33" ng-repeat="image in item.images track by $index">
                                                    <img ng-if="image != null" ng-src="{{image}}" enlarge-pic alt="$index" />
                                                </div>
                                            </div>
                                            <div class="row name">
                                                <div class="col">{{item.username}}</div>
                                            </div>
                                            <div class="row star">
                                                <div class="col">
                                                    <span star rating-value="item.orderScore" max="max" on-hover="onHover" on-leave="onLeave" readonly="{{readonly}}"></span>
                                                    {{item.orderScore}}.0分
                                                </div>
                                            </div>
                                        </ion-item>

                                        <div ng-if="isNoComment" style="text-align: center;margin: 8px;">
                                            <i class="icon ion-ios-information-outline" style="color:crimson;font-size: 14px;"></i>
                                            还没有评价( ¯ □ ¯ )
                                        </div>

                                    </ion-list>
                                </div>

                                <ion-infinite-scroll ng-if="hasmore" on-infinite="loadMoreComment()" distance="5%" icon="ion-loading-c"></ion-infinite-scroll>

                        </ion-content>

                </div>

            </div>

        </div>

        <!-- 图片遮罩层  -->
        <div class="mask" close-Pic>
            <div class="mask-box"></div>
            <div class="big-pic-wrap">
                <img src="" alt="" class="bigPic" />
                <span class="close-pic">
                    <i class="icon ion-ios-close"></i>
                </span>
            </div>
        </div>

    </div>

</ion-view>
