<ui-view ng-controller="order_refunding">

    <div class="jqztc-order-detail">
        <ion-content has-tabs="true">

                    <!-- 1  -->
                     <div class="notice2" >
                        <p>1、发车前1小时以上，可申请全额退款，超时或已验票后，无法退款。</p>
                        <p>2、遇天气原因或其他不可抗拒因素而不能发车的，都可申请全额退款。</p>
                    </div> 

                    <!-- 2  -->
                    <ion-list>
                        <ion-item style="padding: 0;">
                            <div class="detail">
                                    <div class="row info " style="padding-left: 10px;">
                                        <div class="col ">
                                            <i class="icon ion-ios-clock-outline btnfont3 blue"></i>
                                            <span class="btnfont4">{{ticketInfo.departTime}}</span>
                                        </div>
                                        <div class="col" style="text-align: center">
                                            <div ng-if="ticketInfo.haveTicket == 0">
                                                    <div class="btnfont green">单程</div>
                                            </div>
                                            <div ng-if="ticketInfo.haveTicket == 1">
                                                    <div class="btnfont green">单程 + 门票</div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="btnfont">{{ticketInfo.platenum}}</div>
                                        </div>
                                        <div class="col">
                                            <span class="btnfont5">单程约{{ticketInfo.drivetime}}分钟</span>
                                        </div>
                                    </div>
                                    <div class="row startposition">
                                        <div class="col">
                                            <i class="icon ion-record btnfont3 green"></i>
                                            {{ticketInfo.departName}}
                                        </div>
                                    </div>
                                    <div class="row endposition">
                                        <div class="col">
                                            <i class="icon ion-record btnfont3 red "></i>
                                            {{ticketInfo.arriveName}}
                                        </div>
                                    </div>
                                    <div class="row refund">
                                        <div class="col col-75">
                                            <div style="margin: 0 0 8px 11px" >出发日期: {{ticketInfo.departDate | date:'yyyy-MM-dd' }} {{ticketInfo.departTime}}</div>
                                        </div>
                                        <div class="col">
                                                <button ng-disabled="true" class="button button-assertive" style="width: 100%;" >
                                                    退款中
                                                </button>
                                        </div>
                                    </div>
                                    <div class="row" >
                                        <div class="col col-50">
                                            <i class="icon ion-android-notifications-none" style="color:deeppink"></i>
                                            退款金额 ￥{{ticketInfo.payPrice}}
                                        </div>
                                        <div class="col col-33">
                                            <i class="icon ion-cash" style="color: gold"></i>
                                            <span>实付 ￥{{ticketInfo.payPrice}}</span>
                                        </div>
                                    </div>
                            </div>
                            
                        </ion-item>

                    </ion-list>

                </ion-content>
    </div>
</ui-view>